body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  color: #067ab4;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="file"] {
  margin-bottom: 20px;
}

button {
  background-color: #067ab4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #055a8c;
}

#downloadLink {
  margin-top: 20px;
  font-size: 18px;
}

#downloadAnchor {
  color: #067ab4;
  text-decoration: none;
}

/* Spinner styles */
.spinner {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #067ab4; /* Siemens blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}